doctype html
html
	head
		title= "Stress Relief"
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/foundation.min.css')
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		script(type="text/javascript" src="javascript_min/jquery-2.1.4.js")
		script(type="text/javascript" src="javascript_min/jquery.form.min.js")
		script(type="text/javascript" src="javascript_min/pixi.js")
		script(type="text/javascript" src="javascript_min/howler.min.js")
		script(type="text/javascript" src="javascript_min/vendor/modernizr.js")
		script(type="text/javascript" src="javascript_min/foundation/foundation.js")
		script(type="text/javascript" src="javascript_min/foundation/foundation.reveal.js")
		script(type="text/javascript" src="src/main.js")
		script(type="text/javascript" src="src/key.js")
		script(type="text/javascript" src="src/setup.js")
		script(type="text/javascript" src="src/util.js")
		script(type="text/javascript" src="src/tools/Tool.js")
		script(type="text/javascript" src="src/tools/Hammer.js")
		script(type="text/javascript" src="src/tools/Chainsaw.js")
		script(type="text/javascript" src="src/tools/Machinegun.js")
		script(type="text/javascript" src="src/tools/Flamethrower.js")
		script(type="text/javascript" src="src/tools/Colorthrower.js")
		script(type="text/javascript" src="src/tools/Phaser.js")
		script(type="text/javascript" src="src/tools/Stamper.js")
		script(type="text/javascript" src="src/Animator.js")
		script(type="text/javascript" src="src/Exploder.js")
		script(type="text/javascript" src="src/tools/Termites.js")

		//- add form submission handlers
		script(type="text/javascript").
			$(document).ready(function() {
				$('#uploadForm').submit(function() {
					window.App.receivingImage = true;
					$(this).ajaxSubmit({
						error: function(xhr) {
							status('Error: ' + xhr.status);
						},
						success: function(response) {
							uploadBackground("/file_upload?img="+response);
							window.App.receivingImage = false;
							$('#optionsModal').foundation('reveal', 'close');
						}
					});
					// Very important line, it disables the page refresh.
					return false;
				});
			});

			//- set up drag and drop on the form
			function allowDrop(event) {
				event.preventDefault();
				$("#userPhoto").addClass("imageDrag");
			}

	body
		//- initialize foundation
		script(type="text/javascript").
			$(document).foundation();
			Foundation.libs.reveal.settings.close_on_background_click = false;

		div.
			<div id="ToolsModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
				<div id="ToolsMenuContainer"><table id="ToolsMenu"></table></div>
				<button type="submit" id="cleanScreen">Clean</button>
				<p><a href="#" id="optionsModalButton" data-reveal-id="optionsModal" class="secondary button">Options</a></p>
				<a id="saveImageButton">Save to image...</a>
			</div>
			<div id="optionsModal" class="reveal-modal" data-reveal aria-labelledby="secondModalTitle" aria-hidden="true" role="dialog">
				<a class="close-reveal-modal" aria-label="Close">&#215;</a>
				<h2 id="firstModalTitle">Options</h2><hr/>
				<h3 id="firstModalTitle">Choose a color</h3>
				<h6>Rollover to preview, click to save</h6>
				<div style="text-align: center;"><div id="colorChooser"></div></div>
				<div id="backgroundImageForm">
					<h3>Choose a background image</h3>
					<form id="uploadForm" enctype="multipart/form-data" action="/api/photo" method="post">
						<table id="imageUploadControls">
							<tr>
								<td>
									<label><span>Drag an Image into the box below!</span>
										<input type="file" id="userPhoto" name="userPhoto" ondragover="allowDrop(event)"	/>
									</label>
								</td>
							</tr>
							<tr>
								<td colspan=100% style="padding-bottom: 5px; padding-top: 10px;">
									<input type="submit" value="Upload Image" name="submit" style="font-weight: bold;">
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>

		script(type="text/javascript").
			init();
